# dependencies
/node_modules
/.pnp
.pnp.*

# testing
/coverage

# next.js
/.next/

# The `out` directory should not be ignored by version control
/out/

# production
/build

# misc
.DS_Store
*.pem

# debug
npm-debug.log*

# local env files
.env*.local

# vercel
.vercel

# typescript
*.tsbuildinfo
next-env.d.ts
