* {
    font-family: sans-serif;
}

.mainMenu {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    text-align: center;
    gap: 20px;
    justify-self: center;
    background-color: lightgray;
    padding: 20px;
}

.startMenu {
    flex: 1;
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.teamSizeSelector {
    font-size: large;
    text-align: center;
}

.startButtons {
    flex: 1;
    display: flex;
    justify-content: center;
    gap: 10px;
}

.startButton {
    font-size: large;
    flex: 1;
}

.joinMenu {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.idForm {
    display: flex;
    justify-content: center;
}

.gameIDLabel {
    display: flex;
    align-items: center;
    justify-content: center;
    flex: auto;
    font-size: large;
}

.idInputField {
    font-size: large;
    text-align: center;
    max-width: 80px;
}

.idInputField:invalid {
    border: 4px solid red;
}

.idInputField:valid {
    border: 4px solid green;
}

.joinButton {
    font-size: large;
    flex: 1;
}

.lobby {
    display: flex;
    flex-direction: column;
}